html {
  font-size: 100%;
  color: #243A61;
  height: 100%;
}
body {
  height: 100%;
  width: 900px;
}
header {
  background-color: #0F99D0;
  color: #ffffff;
  margin: 0;
  padding: 5px 0 5px 20px;
}
.back_image {
  height: 300px;
  width: 900px;
  display: block;
  position: absolute;
}
.save_message {
  position: relative; top: 65px; left: 200px;
  font-size: 18px;
  font-weight: bold;
  font-style: oblique;
}
#error_explanation {
  position: relative; top: 0px;
}
.ask_message p {
  background-color: #0F99D0;
  font-size: 18px;
  font-weight: bold;
  font-style: oblique;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
}
.form_new {
  height: 350px;
}
.form_class {
  position: relative; top: 90px;
}
.new_post {
  height: 250px;
  width: 500px;
  font-weight: bold;
  color: #243A61;
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 7px 7px 7px 7px #A5DEE4;
  margin: 0 auto;
  display: block;
}
#form_content {
  height: 170px;
  width: 380px;
  border: none;
  font-size: 18px;
  margin-top: 35px;
  margin-left: 25px;
  outline: none;
  resize: none;
}
::placeholder {
  padding: 5px 5px;
}
#post_button {
  padding: 2px 10px;
  color: #FFFFFF;
  border: solid 1px;
  border-color: #243A61;;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 2px #A5DEE4;
  background-color: #243A61;
  position: absolute; top: 210px; left: 620px;
}
#post_button:hover {
  position: absolute; top: 208px; left: 618px;
}
#shark_icon {
  width: 180px;
  position: relative; left:  50px;
}
.separator {
  height: 45px;
}
.separator img {
  height: 45px;
  width: 900px;
  position: relative;
  z-index: 1;
}
.posts_index {
  padding-top: 10px;
  background-color: #0E8ED5;
}
.post_one_by_one {
  position: relative;
  padding-bottom: 30px;
}
h1 {
  margin-top: 0;
  margin-left: 200px;
}
table {
  width: 500px;
  background: #FFFFFF;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  font-size: 18px;
  color: #243A61;
}
#icon_fish {
  width: 70px;
}
.time_stamp {
  font-size: 14px;
  position: relative; top: 5px; bottom: 3px; left: 80px;
  color: #7D9BA6;
}
.change_button {
  height: 20px;
  width: 35px;
  padding: 0 5px;
  text-align: center;
  color: #3A5B9A;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: 1px 1px 1px 1px #3A5B9A;
  background-color: #FFFFFF;
  position: relative; top: 3px; bottom: 3px;
}
#sea_line_2 {
  height: 10px;
  width: 490px;
  padding: 0;
}
.after_space {
  height: 350px;
  padding-top: 20px;
  background-color: #0E8ED5;
}
.back_link {
  height: 30px;
  width: 150px;
  margin: auto;
  text-align: center;
  color: #3A5B9A;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  box-shadow: 3px 3px 3px 3px #3A5B9A;
  background-color: #FFFFFF;
}
.check_content {
  height: 170px;
  width: 380px;
  border: none;
  font-size: 18px;
  margin-top: 35px;
  margin-left: 25px;
  margin-bottom: 35px;
  border-radius: 10px;
  box-shadow: 7px 7px 7px 7px #A5DEE4;
  padding: 10px;
}
footer {
  background-color: #243A61;
  color: #ffffff;
  padding: 5px 0 5px 20px;
}
a {
  text-decoration:none;
  color: #3A5B9A;
}
a:hover {
  color: #0E8ED5;
}
.sub_body {
  height: 100%;
  width: 900px;
}
